<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Template Mo">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link rel="shortcut icon" href="/images/icon.png">
        <title>Nutrition Sport Break</title>
        <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/v4-shims.js"></script> 
        <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/fontawesome.js"> </script>
        
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <!--
    
    ART FACTORY
    
    https://templatemo.com/tm-537-art-factory
    
    -->
        <!-- Additional CSS Files -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="/css/templatemo-art-factory.css">
        <link rel="stylesheet" type="text/css" href="/css/owl-carousel.css">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    
    </head>

<body>

    <!-- ***** Preloader Start ***** -->

    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="./index.html" class="logo">Nutrition Sport Break</a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="./index.html" s>Inicio</a></li>
                            <li class="scroll-to-section"><a href="./index.html#about">Ejercicios</a></li>
                            <li class="scroll-to-section"><a href="./index.html#services">Nutricion</a></li>
                            <li class="scroll-to-section"><a href="#services">Sobre Nosotros</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Registrate</a>
                                <ul>
                                    <li><a href="./registerForm.html">Crea tu Usuario</a></li>
                                    <li><a href="./loginForm.html">Ingresa</a></li>
                                </ul>
                            </li>

                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcomes">

        <!-- ***** Form Text Start ***** -->
        <main class="container-card">
            <div class="card">

                <h1 class="form-label_subtittle">
                    Evaluación del estado nutricional
                </h1></br>
                <p class="text">
                    Para determinar si se están consumiendo una cantidad adecuada de nutrientes, los médicos preguntan acerca de los hábitos alimenticios y la dieta que se sigue, y además hacen un examen físico para evaluar la composición y el funcionamiento del organismo.</br>
                    Se comprueba la estatura y el peso de la persona, y se calcula su índice de masa corporal (IMC). El IMC se obtiene dividiendo el peso (expresado en kilogramos) por el cuadrado de la altura (en metros). Por lo general, un IMC comprendido entre 18,5 y 24,9 se considera normal o saludable para ambos sexos.</br>

                    Las concentraciones de muchos nutrientes se pueden medir en la sangre, dentro de algunas células, y, a veces, en los tejidos. Por ejemplo, la concentración de albúmina, la proteína principal en la sangre, permite determinar si una persona tiene carencia proteínica. Los niveles de ciertos nutrientes disminuyen cuando la nutrición no es adecuada. Sin embargo, estas medidas pueden indicar de forma fiable el estado nutricional en función de lo que refleje la medición (por ejemplo, dentro de las células o en la sangre), ya que las concentraciones celulares de nutrientes pueden reflejar más los nutrientes disponibles en comparación con la cantidad que se transporta en la sangre.
                </p>
            </div>
            <div class="center-card">
                <div class="card">

                    <h1 class="form-label_subtittle">
                        Composición corporal
                    </h1></br>
                    <p class="text">
                        La composición corporal suele referirse a la cantidad de grasa corporal y a la cantidad de músculo, expresada generalmente como el porcentaje de grasa corporal. </br>
                        La composición corporal a veces se estima mediante: </br>
                        • Medición del grosor del pliegue cutáneo. </br>
                        • Análisis de la impedancia bioeléctrica (AIB)
    
                    </p>
                </div>
                <img class="img-chatarra" src="/images/chatarra.png">
            </div>
            
            <div class="card">

                <h1 class="form-label_subtittle">
                    Componentes de la Dieta
                </h1></br>
                <p class="text">
                    Generalmente, los nutrientes se dividen en dos clases:</br>
                    • Macronutrientes: se requieren diariamente en grandes cantidades. Estos incluyen: proteínas, grasas, hidratos de carbono, algunos minerales y agua.</br>
                    • Micronutrientes: se requieren diariamente en cantidades tan pequeñas que se expresan en unidades que van del miligramo (la milésima parte de un gramo) al microgramo (la millonésima parte de un gramo). Los micronutrientes incluyen las vitaminas y ciertos minerales que permiten al organismo usar los macronutrientes. Estos minerales se denominan microminerales u oligoelementos (y, a veces minerales traza), porque el organismo solo los necesita en cantidades muy pequeñas.</br>
    
                    Los alimentos que se consumen en la dieta diaria contienen unas 100 000 sustancias. Sin embargo, solo 300 se clasifican como nutrientes, y solo 45 se clasifican como nutrientes esenciales:</br>
                    • Vitaminas</br>
                    • Minerales</br>
                    • Algunos aminoácidos (componentes de las proteínas)</br>
                    • Algunos ácidos grasos (componentes de las grasas)</br>
                    Los nutrientes esenciales no pueden ser sintetizados por el organismo y deben consumirse con la dieta.</br>
                    Los alimentos contienen otros muchos componentes útiles, incluidas algunas fibras (como celulosa,
                    pectinas y resinas).Los alimentos también contienen aditivos (como conservantes, emulsionantes, antioxidantes y estabilizantes) que mejoran su producción, procesamiento, almacenamiento y embalaje.
    
                </p>
            </div>
        </main>

        <!-- ***** Form Text End ***** -->
    </div>
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <p class="copyright">Copyright &copy; 2020 Art Factory Company

                        . Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


</body>

</html>