<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link rel="shortcut icon" href="/images/icon.png">
    <title>Regístrate</title>
    <!--

ART FACTORY

https://templatemo.com/tm-537-art-factory

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/templatemo-art-factory.css">
    <link rel="stylesheet" type="text/css" href="/css/owl-carousel.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->

    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="./index.html" class="logo">Nutrition Sport Break</a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="./index.html" s>Inicio</a></li>
                            <li class="scroll-to-section"><a href="./index.html#about">Ejercicios</a></li>
                            <li class="scroll-to-section"><a href="./index.html#services">Nutricion</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Sobre Nosotros</a>
                                <ul>
                                    <li><a href="">Historia</a></li>
                                    <li><a href="">Logo</a></li>
                                    <li><a href="">Lema</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:;">Registrate</a>
                                <ul>
                                    <li><a href="./registerForm.html">Crea tu Usuario</a></li>
                                    <li><a href="./loginForm.html">Ingresa</a></li>
                                </ul>
                            </li>

                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcomes">

        <!-- ***** Form Text Start ***** -->
        <main class="main-form">
            <section class="register">
                <article>
                    <form method="" action="/index.html" id="formRegister" class="form"
                        enctype="multipart/form-data">
                        
                        <label for="" class="form-label_subtittle">Te damos la bienvenida ¡Inscríbete!
                        </label><br>

                        <label for="document" class="form-label_dates">Documento:</label><br>
                        <input type="number" name="document" id="document" autocomplete="" minlength="2"
                            class="form-input-dates"><br>

                        <label for="names" class="form-label_dates">Nombre:</label><br>
                        <input type="text" name="names" id="nombre" autocomplete="given-name" minlength="2"
                            class="form-input-dates" ><br>

                        <label for="surnames" class="form-label_dates">Apellidos:</label><br>
                        <input type="text" name="surnames" id="apellido" autocomplete="family-name" minlength="2"
                            class="form-input-dates"><br>
                        
                        <label for="document" class="form-label_dates">Edad:</label><br>
                        <input type="number" name="document" id="document" autocomplete="" minlength="2"
                            class="form-input-dates"><br>

                        <label for="document" class="form-label_dates">Altura:</label><br>
                        <input type="number" name="document" id="document" autocomplete="" minlength="2"
                            placeholder="Peso en cms" class="form-input-dates"><br>

                        <label for="document" class="form-label_dates">Peso:</label><br>
                        <input type="number" name="document" id="document" autocomplete="" minlength="2"  
                            placeholder="Peso en kgs" class="form-input-dates"> <br>   

                        <label for="password" class="form-label_dates">Contraseña:</label><br>
                        <input type="password" name="password" id="password" autocomplete="new-password"
                            placeholder="*********" class="form-input-dates"><br>
                        
                        <label for="names" class="form-label_dates">Género:</label><br>
                        <select name="category" id="category" class="form-input-dates">
                            <option value="">Seleccionar...</option>
                            <option value=1>Hombre
                            </option>
                            <option value=2>Mujer</option>
                        </select><br>
                        <article class="form-buttons">
                            <input class="form-input-button" type="submit" value="Registrarse" id="register">
                            <a href="./loginForm.html" >
                            <input class="form-input-button-a" type="button" value="¿Ya tienes cuenta?" >
                            </a>  
                        </article>
                        
                    </form>
                </article>
            </section>
        </main>
        <!-- ***** Form Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->





    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <p class="copyright">Copyright &copy; 2020 Art Factory Company

                        . Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


</body>

</html>